# Imports

In [12]:
# data tools
import numpy as np
import pandas as pd
import pickle as pkl


# inspection tools
from IPython.core.display import HTML
from dataprep.eda import plot, plot_correlation, create_report, plot_missing

# date handling
import datetime
from datetime import date

# graphing
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
sns.set()

# machine learning
from sklearn.preprocessing import StandardScaler, normalize
from sklearn import metrics
from sklearn.mixture import GaussianMixture
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# import warnings
# warnings.filterwarnings('ignore')

# Load Data

In [13]:
with open('customer_data_without_outliers.pickle', 'rb') as handle:
    dict = pkl.load(handle)

In [14]:
data = dict['data']
features = dict['cluster_features']

segm_data = data[features].copy()
segm_data

        Income  Recency  Customer Age  Total Expenses  Seniority  Children
ID
5524   58138.0       58            57            1617  25.333333         0
2174   46344.0       38            60              27   7.000000         2
4141   71613.0       26            49             776  13.633333         0
6182   26646.0       26            30              53   7.866667         1
5324   58293.0       94            33             422   8.600000         1
...        ...      ...           ...             ...        ...       ...
10870  61223.0       46            47            1341  15.933333         1
4001   64014.0       56            68             444   3.866667         3
7270   56981.0       91            33            1241   8.400000         0
8235   69245.0        8            58             843   8.433333         1
9405   52869.0       40            60             172  23.966667         2

[2203 rows x 6 columns]